/* Project11 css stylesheet */
body {margin: 0 10px 0 10px !important}

.images-n-dots {
  width: 30%;
}

.images { 
	width: 100%;
  height:auto;
  text-align: center;
}

.dots {
  list-style: none;
	text-align: center;
  width:auto;
  margin-top: -30px;
}

.dot1, .dot2, .dot3, .dot4, .dot5, .dot6 {
    display: inline-block;
    -webkit-animation: rot 2s linear infinite;
    animation: rot 2s linear infinite;
}

.dot2 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -1s;
}
.dot3 {  
    -webkit-animation-delay: -0.4s;
    animation-delay: -2s;
}
.dot4 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -3s;
}

.dot5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -4s;
}

.dot6 {
    -webkit-animation-delay: -1s;
    animation-delay: -5s;
}

.dot-shine {
    display: block;
    background-color: grey;
    height: 10px;
    width: 20px;
}

@-webkit-keyframes rot {
    0% {-webkit-transform:;opacity: 1;}
   17% {-webkit-transform:;opacity: 0.66;}
   33% {-webkit-transform:;opacity: 0.33;}
   50% {-webkit-transform:;opacity: 0.1;}
  66% {-webkit-transform:;opacity: 0.33;}
  83% {-webkit-transform:;opacity: 0.6;}
  100% {-webkit-transform:;opacity: 1;}
}

/* ANIMATIONS */
/* "transition: <property> <duration> <timing-function> <delay>;" */

/* 1:*/
.start {width:30%; position: relative; display: inline-block; left: 30px; }

.anim-if-1.ng-enter {transition: 1.5s ease-out 1s; left: 30px; opacity: 0; font-size: 8px;}
.anim-if-1.ng-enter.ng-enter-active, .anim-if-1 {left: 500px; opacity: 1; font-size: 18px;}

.anim-if-1.ng-leave {transition: 1.5s ease-out}
.anim-if-1.ng-leave.ng-leave-active {left: 30px; opacity: 0; font-size: 8px;}

/* 2: τροπον τινα 'κραταει' το state της start2 κ δεν χρειαζεται να το ξαναορίσω στην -add */
.start2 {width:30%; position: relative; display: inline-block; font-size: 8px}

.animif-add {transition: 1.5s ease-out;}
.animif-add-active, .animif {left: 500px; font-size: 18px;} /*αρκεί να ορίσω μόνο το 'τελος'του transition */

.animif-remove {transition: 1.5s ease-out;}
.animif-remove-active {left: 0px;font-size: 8px;}

/* 3: */
.div31{width: 90%;}
.div32{list-style: none; text-align: center;}
.div33{width: 100px; display: inline-block; margin: 10px;}

.anim3.ng-enter {transition: 0.65s ease-out; opacity: 0; width: 0px;}
.anim3.ng-enter.ng-enter-active {opacity: 1; width: 100px; -webkit-transform: rotate(360deg);}

.anim3.ng-leave {transition: 0.65s ease-out; opacity: 1;}
.anim3.ng-leave.ng-leave-active {opacity: 0; width: 0px; margin: 0px;}


/* OVERLAYS */

/*1. look at https://gist.github.com/jordandobson/715124*/
.figure {
  position: relative;
  display:  block;
  width:  300px;
  height: 300px;
  border: 2px solid green;
  -webkit-box-shadow: 1px 3px 2px red;
  outline:  1px solid blue;  
}

/* -webkit-radial-gradient(center center, circle contain, 
  black 0%, blue 25%, green 40%, red 60%, purple 80%, white 100%); 
des http://www.impressivewebs.com/css3-radial-gradient-syntax/*/
.figure img:hover {
  -webkit-mask-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 175, from(rgba(255, 255, 255,0.7)), to(rgba(0,0,0,0.7)));
}


/*1. Stroke and box shadow on an image 3*80x107 = 240x321*/
.figure2 {
  position: relative;
  display:  block;
  max-width:  321px;
  max-height: 240px;
  height: auto;
  width: auto;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

/* video */

.videoContainer { /*1280x720, 640X480/360, 1024x576*/
    max-width: 333px;
    overflow:hidden;
    display:block;
    height: 250px !important;
    margin: 20px 30px 30px 100px;
    outline: 2px solid red;
}

.myVideo { /*1280x720, 640X480/360, 1024x576*/
  position: relative;
  left: -26%;
  width: 134%;
}